html {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 160), rgb(0, 160, 0)) ;
  min-height: 100%;
  cursor: default;
  overflow-y: scroll;
}
h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}
ul {
  font-size: 25px;
  font-family: sans-serif;
}
li {
  overflow-wrap: anywhere;
  word-break: normal;
}
.done {
  text-decoration: line-through solid #000000 2px;
}
body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 20px;
  width: fit-content;
  background-color: white;
  padding-top: 30px;
  padding: 0 20px 20px 20px;
  border: 5px  ridge rgb(104, 104, 104);
}
.ToDo {
  line-height: 50px;
  margin-right: 10px;
  font-size: 20px;
}
input {
  border-radius: 8px;
  border: ridge rgb(0, 0, 0);
  font-weight: bold;
  font-size: 13px;
  height:18px;
}
.green {
  color: #00b400;
}
.orange {
  color: #ff9100;
}
.red {
  color: #d80000;
}
select {
  border: ridge rgb(0, 0, 0);
  border-radius: 8px;
  margin-left: 10px;
  cursor: pointer;
  height:25px;
}
button {
  margin-left: 10px;
}
.del {
  border-radius: 7px;
  border: ridge #ff0000;

  padding: 0px  1px 1px 1px;
  position: relative;
  top: -2px;
  cursor: pointer;
}
.add2 {
  border-radius: 8px;
  border: ridge #000000 3px;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
  height:25px;
}
.clear {
  margin-top: 20px;
  border-radius: 8px;
  border: ridge   rgb(126, 0, 0);
  padding: 2px 1px 0px 1px;
  margin-left: 10px;
  cursor: pointer;
}
input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: ridge rgb(41, 187, 255);
  position: relative;
  top: 5px;
  cursor: pointer;
  background-color: white;
}
input[type="checkbox"]:checked::after {
  content: "✔";
  position: absolute; 
  left: 1px;
  top: -2px;
  color: rgb(11, 88, 255);
}
label {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 18px;
}
.nexttodo {
  border: ridge black;
  border-radius: 7px;
  cursor: pointer;
  height:25px;
}
.previoustodo {
  border: ridge black 3px;
  border-radius: 7px;
  cursor: pointer;
  height:25px;
}
.todaystodo {
  border: ridge black 3px;
  border-radius: 7px;
  cursor: pointer;
  height:25px;
}
.fällig {
  cursor: pointer;
  height:18px;
}
.geplant {
  cursor: pointer;
  height:18px;
}
.weekback {
  border: ridge black 3px;
  border-radius: 7px;
  cursor: pointer;
  height:25px;
}
.weeknext {
  border: ridge black 3px;
  border-radius: 7px;
  cursor: pointer;
  height:25px;
}
.text {
  margin-left: 10px;
}
textarea {
  border: ridge black;
  border-radius: 7px;
  vertical-align: middle;
  margin-top: 0px;
  height: 16px;
  resize: none;
  top: 1px;
  font-weight: bolder
}
details {
  cursor: default;
  margin-left:26px;
  line-height: 30px;
}
summary {
  cursor: pointer;
}
details {
  cursor: default;
  margin-left: 26px;
  line-height: 30px;
}

summary {
  cursor: pointer;
}
